<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361270705896-k239ecgcjob3hlv9s61jpsv5ef2qrar0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361270705896-k239ecgcjob3hlv9s61jpsv5ef2qrar0</string>
	<key>API_KEY</key>
	<string>AIzaSyAfGdqXqnV_UzW4qFfRWZJOlXnApRnEFNY</string>
	<key>GCM_SENDER_ID</key>
	<string>361270705896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-fire-codelab-6d8d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fire-codelab-6d8d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361270705896:ios:664da0c009d2ee0eed135d</string>
</dict>
</plist>